<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">{{:: 'clients' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}">{{client.clientId}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}/authz/resource-server">{{:: 'authz-authorization' |
                translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}/authz/resource-server/policy">{{:: 'authz-policies'
                | translate}}</a></li>
        <li data-ng-show="policyState.state.policy.name != null && historyBackOnSaveOrCancel">
            {{policyState.state.policy.name}}</li>
        <li data-ng-show="policyState.state.policy.name == null && historyBackOnSaveOrCancel">{{::
            policyState.state.previousPage.name | translate}}</li>
        <li data-ng-show="create">{{:: 'authz-add-group-membership-policy' | translate}}</li>
        <li data-ng-hide="create">Group Membership</li>
        <li data-ng-hide="create">{{originalPolicy.name}}</li>
    </ol>

    <h1 data-ng-show="create">{{:: 'authz-add-group-membership-policy' | translate}}</h1>
    <h1 data-ng-hide="create">{{originalPolicy.name|capitalize}}<i class="pficon pficon-delete clickable"
            data-ng-click="remove()"></i></h1>

    <form class="form-horizontal" name="clientForm" novalidate>
        <fieldset class="border-top">
            <div class="form-group">
                <label class="col-md-2 control-label" for="name">{{:: 'name' | translate}} <span
                        class="required">*</span></label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="name" name="name" data-ng-model="policy.name" autofocus
                        required data-ng-blur="checkNewNameAvailability()" data-ng-disabled="readOnly">
                </div>
                <kc-tooltip>{{:: 'authz-policy-name.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="description">{{:: 'description' | translate}} </label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="description" name="description"
                        data-ng-model="policy.description" data-ng-disabled="readOnly">
                </div>
                <kc-tooltip>{{:: 'authz-policy-description.tooltip' | translate}}</kc-tooltip>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="pattern">{{:: 'authz-policy-group-membership-pattern' |
                    translate}} <span class="required">*</span></label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="pattern" name="pattern" data-ng-model="policy.pattern"
                        required>
                </div>
                <kc-tooltip>{{:: 'authz-policy-group-membership-pattern.tooltip' | translate}}</kc-tooltip>
            </div>

            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="resourceMatchTarget">{{::
                    'authz-policy-group-membership-resource-match-target' | translate}}</label>
                <div class="col-sm-1">
                    <select class="form-control" id="resourceMatchTarget" data-ng-model="policy.resourceMatchTarget"
                        data-ng-disabled="readOnly">
                        <option value="NAME">{{:: 'authz-policy-group-membership-resource-match-target-name' |
                            translate}}</option>
                        <option value="URI">{{:: 'authz-policy-group-membership-resource-match-target-uri' |
                            translate}}</option>
                        <option value="ATTRIBUTE">{{::
                            'authz-policy-group-membership-resource-match-target-attribute' | translate}}</option>
                    </select>
                </div>

                <kc-tooltip>{{:: 'authz-policy-group-membership-resource-match-target.tooltip' | translate}}
                </kc-tooltip>
            </div>
            <div class="form-group" data-ng-show="policy.resourceMatchTarget == 'ATTRIBUTE'">
                <label class="col-md-2 control-label" for="resourceMatchAttributeName">{{::
                    'authz-policy-group-membership-resource-match-attribute-name' | translate}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="resourceMatchAttributeName"
                        name="resourceMatchAttributeName" data-ng-model="policy.resourceMatchAttributeName">
                </div>
                <kc-tooltip>{{:: 'authz-policy-group-membership-resource-match-attribute-name.tooltip' | translate}}
                </kc-tooltip>
            </div>

            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="groupMatchTarget">{{::
                    'authz-policy-group-membership-group-match-target' | translate}}</label>
                <div class="col-sm-1">
                    <select class="form-control" id="groupMatchTarget" data-ng-model="policy.groupMatchTarget"
                        data-ng-disabled="readOnly">
                        <option value="ID">{{:: 'authz-policy-group-membership-resource-match-group-id' |
                            translate}}</option>
                        <option value="NAME">{{:: 'authz-policy-group-membership-resource-match-group-name' |
                            translate}}</option>
                        <option value="ATTRIBUTE">{{::
                            'authz-policy-group-membership-group-match-target-attribute' | translate}}</option>
                    </select>
                </div>

                <kc-tooltip>{{:: 'authz-policy-group-membership-group-match-target.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group" data-ng-show="policy.groupMatchTarget == 'ATTRIBUTE'">
                <label class="col-md-2 control-label" for="groupMatchAttributeName">{{::
                    'authz-policy-group-membership-group-match-attribute-name' | translate}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="groupMatchAttributeName" name="groupMatchAttributeName"
                        data-ng-model="policy.groupMatchAttributeName">
                </div>
                <kc-tooltip>{{:: 'authz-policy-group-membership-group-match-attribute-name.tooltip' | translate}}
                </kc-tooltip>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="groupsClaim">{{:: 'authz-policy-group-membership-claim' |
                    translate}}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="groupsClaim" name="groupsClaim"
                        data-ng-model="policy.groupsClaim">
                </div>
                <kc-tooltip>{{:: 'authz-policy-group-membership-claim.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="logic">{{:: 'authz-policy-logic' | translate}}</label>

                <div class="col-sm-1">
                    <select class="form-control" id="logic" data-ng-model="policy.logic" data-ng-disabled="readOnly">
                        <option value="POSITIVE">{{:: 'authz-policy-logic-positive' | translate}}</option>
                        <option value="NEGATIVE">{{:: 'authz-policy-logic-negative' | translate}}</option>
                    </select>
                </div>

                <kc-tooltip>{{:: 'authz-policy-logic.tooltip' | translate}}</kc-tooltip>
            </div>
            <input type="hidden" data-ng-model="policy.type" />
        </fieldset>

        <div class="form-group" data-ng-show="access.manageAuthorization">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                <button kc-reset data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>